body{
    background-color: #2C3333;
}
.welcome_txt{
    text-align: center;
}
.welcome_txt_sub{
    text-align: center;
}
.mainleftcol{
    background-color: #e1eedd;
}
.mainrightcol{
    background-color:#183a1d;
}