{% extends "base.html" %}
{% block content %}
<div class="container" style="margin-top:55px;height: 80vh;">
    <h1>About Us</h1>
    <p>
        Most of the time we can find systems that can be recognized simple and traditional 
        Named Entities (NEs) like locations, person names, currency and organizations. 
        But when it comes to complex entities like the title of creative works as films, books, 
        applications and songs this level of accuracy is in the worst place. 
        Therefore you can use this C - NER system to recognize the complex entities and do your work easily.
    </p>
</div>
{% endblock %}